/* Basic Style */

.site-wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.site-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.site-input:focus {
  color: #333;
}

.site-header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
  padding-bottom: 18px;
}

.site-header__image {
  width: 100%;
}

.site-header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .site-header {
    text-align: center;
  }

}

.site-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-item__input {
  width: 226px;
  flex-grow: 1;
  display: none;
}

.task-item__input--mode-add {
  width: 318px;
  display: block;
}

.site-block__tasks {
  margin: 0;
  padding: 0;
}

.reset-list__item {
  list-style: none;
}

.site-button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.site-button:hover {
  color: #3a3a3a;
}

.site-block__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 27px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item__checkbox {
  margin: 0 10px;
  outline: none;
}

.task-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  flex-grow: 1;
}

.task-item__delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-item__delete-image:hover {
  transform: rotateZ(0);
}

.task-item--mode-completed .task-item__label {
  text-decoration: line-through;
  color: #888;
}

.task-item--mode-edit .task-item__label {
  display: none;
}

.task-item--mode-edit .task-item__input {
  display: inline-block;
  width: 224px;
}
